.topbar{
    background-color: #0B1E59;
}

.goods{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 6rem;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}

.goodsleft{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.goodsleft img{
    width: 35px;
    height: 56px;
    margin-right: 1rem;
    cursor: pointer;
}

.goodsleft h2{
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
}

.goodsright{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}